:root {
    --blanco: #FFF;
    --negro: #111111;
    --gris: #343a40;

    --azul: #0071b7;
    --blanco: #FFF;
    --naranja: #ff4f1e;
    --fuentePrincipal: 'Raleway', sans-serif;
}
html {

    background-color: var(--azul);
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    color: var(--blanco);
    font-size: 4.8rem;
    text-align: center;
}
h2 {
    font-size: 5.8rem;
}
p {
    line-height: 1.8;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.contenedor {
    margin-inline: auto;
    max-width: 120rem;
    width: 90%;
}

.caja-curso {
    background-color: var(--naranja);
    color: var(--blanco);
    padding: 5rem;
    text-align: center;

}
.caja-curso h1 {
    margin: 0;
}
.caja-curso p {
    font-size: 2.4rem;
}
.caja-curso a {
    color: var(--blanco);
    display: inline-block;
    font-size: 2.4rem;
    padding: 2rem;
    padding: 0;
    text-decoration: none;
}

.productos{
    margin-top: 5rem;
}

.productos__heading{
    color: var(--blanco);
    padding: 3rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    .productos__grid{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

